<a href="https://swagger.io">Swagger</a> is a ReST API documentation tool.
<p> From Wikipedia</p>
<p class="wiki"> Swagger is an open source software framework backed by a large ecosystem of tools that helps developers design, build, document,
  and consume RESTful Web services. While most users identify Swagger by the Swagger UI tool, the Swagger toolset includes
  support for automated documentation, code generation, and test case generation.
</p>
<p>
  Sponsored by SmartBear Software, Swagger has been a strong supporter of Open Source Software and has widespread adoption.
</p>
<img src="./assets/swagger_ex.png">