
  <div class="wrapper">
    <div class="header">
      <mat-card class="heading">
      <h1  >Welcome to Amateur Radio InterOpt Foundation!</h1>
    </mat-card>

    </div>
    <mat-card class="left-side">
      <ul class="left-menu">
        <li><a routerLink="/rigBus">RigBus</a></li>
        <li>DataBase Bus</li>
        <li>Logging Bus</li>
        <li>DX Cluster Bus</li>
        <li>Rig Bus</li>
      </ul>

    </mat-card>
    <mat-card class="content">
        <router-outlet></router-outlet>
    </mat-card>
    <mat-card class="right-side">
        right
    </mat-card>
    <div class="footer">
        footer
    </div>
  </div>


